<h2 style="font-size: 14px; font-family: helvetica; color:#3d4955; font-weight: normal;"><b>Assigned By Me</b></h2>

<table cellpadding="0" cellspacing="0" border="0" width="100%" style="color: #ffffff; font-size: 13px; font-family: helvetica;">
	<tr>
		<td style="background-color: #ea5050; border: 1px solid #ea5050;" width="206">
			<table cellpadding="5" cellspacing="0" border="0" width="180" align="center">
				<tr>
					<td style="color: #ffffff; font-family: helvetica;">Overdue</td>
					<td align="right" style="font-size: 18px; font-family: helvetica; color: #ffffff;">100</td>
				</tr>
			</table>
		</td>
		<td style="background-color: #3cbaeb; border-top: 1px solid #3cbaeb; border-bottom: 1px solid #3cbaeb;" width="208">
			<table cellpadding="5" cellspacing="0" border="0" width="180" align="center">
				<tr>
					<td style="color: #ffffff; font-family: helvetica;">Completed</td>
					<td align="right" style="font-size: 18px; font-family: helvetica; color: #ffffff;">200</td>
				</tr>
			</table>
		</td>
		<td style="background-color: #3dc178; border: 1px solid #3dc178;" width="206">
			<table cellpadding="5" cellspacing="0" border="0" width="180" align="center">
				<tr>
					<td style="color: #ffffff; font-family: helvetica;">In Progress</td>
					<td align="right" style="font-size: 18px; font-family: helvetica; color: #ffffff;">300</td>
				</tr>
			</table>
		</td>
	</tr>
</table><br />

<table cellpadding="0" cellspacing="0" border="0" width="620" style="background-color: #ffffff; border: 1px solid #e8ebec; border-bottom: 0;
font-size: 13px; font-family: helvetica;"
>
	<tr>
		<td style="padding: 6px 6px 6px 10px;" valign="top">
			<a href="#" style="text-decoration: none; color:#3d4955">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a fringilla arcu. Nulla facilisi. Suspendisse lacus enim, feugiat sit amet lectus non, feugiat scelerisque mauris. Quisque at neque eget purus interdum mattis. Sed mauris felis, interdum eget mi et, consectetur cursus erat. Aliquam semper auctor mauris et tempus. Ut dictum vestibulum neque sed porta. Nulla rutrum bibendum diam nec ultricies. Cras porta consequat tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce rhoncus nulla nec pharetra commodo. Sed quis vestibulum nunc. Aliquam non fermentum sem. Aenean eu convallis magna, a dictum orci. Nulla facilisi. Etiam vestibulum porta velit, eget eleifend lectus aliquam ut.</a>
		</td>
		<td style="padding:4px;" width="35" align="right" valign="top">
			<table style="background-color: #ea5050; color: #ffffff; width:35px;">
				<tr>
					<td align="right" style="font-size: 13px; font-family: helvetica;">5d</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="height:1px; background-color:#e8ebec; font-size:1; line-height:1px;">&nbsp;</td>
	</tr>
	<tr>
		<td style="padding: 6px 6px 6px 10px;" valign="top">
			<a href="#" style="text-decoration: none; color:#3d4955">Lorem ipsum dolor sit amet</a>
		</td>
		<td style="padding:4px;" width="35" align="right" valign="top">
			<table style="background-color: #ea5050; color: #ffffff; width:35px;">
				<tr>
					<td align="right" style="font-size: 13px; font-family: helvetica;">5d</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="height:1px; background-color:#e8ebec; font-size:1; line-height:1px;">&nbsp;</td>
	</tr>
	<tr>
		<td style="padding: 6px 6px 6px 10px;" valign="top">
			<a href="#" style="text-decoration: none; color:#3d4955">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a fringilla arcu. Nulla facilisi. Suspendisse lacus enim, feugiat sit amet lectus non, feugiat scelerisque mauris. Quisque at neque eget purus interdum mattis. Sed mauris felis, interdum eget mi et, consectetur cursus erat.</a>
		</td>
		<td style="padding:4px;" width="35" align="right" valign="top">
			<table style="background-color: #6dcff6; color: #ffffff; width:35px;">
				<tr>
					<td align="right" style="font-size: 13px; font-family: helvetica;">5d</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="height:1px; background-color:#e8ebec; font-size:1; line-height:1px;">&nbsp;</td>
	</tr>
	<tr>
		<td style="padding: 6px 6px 6px 10px;" valign="top">
			<a href="#" style="text-decoration: none; color:#3d4955">Lorem ipsum dolor sit amet</a>
		</td>
		<td style="padding:4px;" width="35" align="right" valign="top">
			<table style="background-color: #6dcff6; color: #ffffff; width:35px;">
				<tr>
					<td align="right" style="font-size: 13px; font-family: helvetica;">5d</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="height:1px; background-color:#e8ebec; font-size:1; line-height:1px;">&nbsp;</td>
	</tr>
	<tr>
		<td style="padding: 6px 6px 6px 10px;" valign="top">
			<a href="#" style="text-decoration: none; color:#3d4955">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a fringilla arcu. Nulla facilisi. Suspendisse lacus enim, feugiat sit amet lectus non, feugiat scelerisque mauris. </a>
		</td>
		<td style="padding:4px;" width="35" align="right" valign="top">
			<table style="background-color: #00ca7b; color: #ffffff; width:35px;">
				<tr>
					<td align="right" style="font-size: 13px; font-family: helvetica;">5d</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="height:1px; background-color:#e8ebec; font-size:1; line-height:1px;">&nbsp;</td>
	</tr>
	<tr>
		<td style="padding: 6px 6px 6px 10px;" valign="top">
			<a href="#" style="text-decoration: none; color:#3d4955">Lorem ipsum dolor sit amet</a>
		</td>
		<td style="padding:4px;" width="35" align="right" valign="top">
			<table style="background-color: #00ca7b; color: #ffffff; width:35px;">
				<tr>
					<td align="right" style="font-size: 13px; font-family: helvetica;">5d</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="height:1px; background-color:#e8ebec; font-size:1; line-height:1px;">&nbsp;</td>
	</tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="620">						
	<tr>
		<td align="right" style="background-color: #f0f3f4;"> 
			<a href="#"><img src="http://static.taskworld.com/images/tw-button-view-all2.gif" alt="View All" width="75" height="23" border="0" /></a>
		</td>
	</tr>
</table>